extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='post', action='/uploadBigFile', enctype='multipart/form-data')
    input(type='file', name='myFile')
    input(type='submit', name='uploadimage', value='Upload Image')